@model List<ResultBannerDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Banner Listesi</h4>
                    <p class="card-subtitle mb-4">
                        Ana Sayfa Banner İşlemlerini Bu Sayfa Üzerinden Ayarlayabilirsiniz. Yalnızca 1 adet Banner bulunması önemli bir husustur!
                    </p>
                    <div class="table-responsive">
                        <table class="table mb-0">
                            <thead>
                                <tr>
                                    
                                    <th>Banner</th>

                                    <th>Desripction</th>

                                    <th>VideoUrl</th>
                                    
                                    <th>VideoDescription</th>
                                    <th>Sil</th>
                                    <th>Güncelle</th>

                                    <th>Youtube'da Gör</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    
                                    <tr>
                                        
                                        <td>@item.title</td>
                                        <td>@item.description</td>

                                        <td>@item.videUrl</td>
                                        <td>@item.videoDescription</td>

                                        <td><a href="/Admin/AdminBanner/DeleteBanner/@item.bannerId" class="btn  btn-outline-danger">Sil</a></td>
                                        <td><a href="/Admin/AdminBanner/UpdateBanner/@item.bannerId" class="btn btn-outline-success">Güncelle</a></td>
                                        <td><a href="@item.videUrl" class="btn btn-outline-dark">Youtube'da Gör</a></td>



                                    </tr>

                                }


                            </tbody>
                        </table>
                        <br />
                        <a href="/Admin/AdminBanner/CreateBanner" class="btn btn-primary">Yeni Banner Girişi</a>

                    </div>

                </div>
                <!-- end card-body-->
            </div>
            <!-- end card -->

        </div>
        <!-- end col -->
        <!-- end col -->
    </div>
    <!-- end page title -->

</div>

