@model ResultStatisticsModel
@{
    Layout = "~/Views/AdminLayout/Index.cshtml";

}
<div class="container-fluid">

    <!-- start page title1 -->
    <div class="row">
                        <div class="col-md-6 col-xl-3">
                            <div class="card bg-primary border-primary">
                                <div class="card-body">
                                    <div class="mb-4">
                        <span class="badge badge-soft-light float-right">Aktif Araçlar</span>
                        <h5 class="card-title mb-0 text-white">Toplam Araç Sayısı</h5>
                                    </div>
                                    <div class="row d-flex align-items-center mb-4">
                                        <div class="col-8">
                                            <h2 class="d-flex align-items-center mb-0 text-white">
                                                @Model.CarCount
                                            </h2>
                                        </div>
                                        <div class="col-4 text-right">
                                            <span class="text-white-50">@Model.CarCountRand% <i class="mdi mdi-arrow-up"></i></span>
                                        </div>
                                    </div>

                                    <div class="progress badge-soft-light shadow-sm" style="height: 5px;">
                        <div class="progress-bar bg-light" role="progressbar" style="width: @Model.CarCountRand%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end col-->

                        <div class="col-md-6 col-xl-3">
                            <div class="card bg-success border-success">
                                <div class="card-body">
                                    <div class="mb-4">
                        <span class="badge badge-soft-light float-right">Bütün Bloglar</span>
                        <h5 class="card-title mb-0 text-white">Toplam Blog Sayısı</h5>
                                    </div>
                                    <div class="row d-flex align-items-center mb-4">
                                        <div class="col-8">
                                            <h2 class="d-flex align-items-center text-white mb-0">
                                                @Model.BlogCount
                                            </h2>
                                        </div>
                                        <div class="col-4 text-right">
                                            <span class="text-white-50">@Model.BlogCountRand% <i class="mdi mdi-arrow-down"></i></span>
                                        </div>
                                    </div>

                                    <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                                        <div class="progress-bar bg-light" role="progressbar" style="width: @Model.BlogCountRand%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end col-->

                        <div class="col-md-6 col-xl-3">
                            <div class="card bg-warning border-warning">
                                <div class="card-body">
                                    <div class="mb-4">
                        <span class="badge badge-soft-light float-right">Markalar</span>
                        <h5 class="card-title mb-0 text-white">Toplam Marka Sayısı</h5>
                                    </div>
                                    <div class="row d-flex align-items-center mb-4">
                                        <div class="col-8">
                                            <h2 class="d-flex align-items-center text-white mb-0">
                                                @Model.BrandCount
                                            </h2>
                                        </div>
                                        <div class="col-4 text-right">
                                            <span class="text-white-50">@Model.BrandCountRand% <i class="mdi mdi-arrow-up"></i></span>
                                        </div>
                                    </div>

                                    <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                                        <div class="progress-bar bg-light" role="progressbar" style="width: @Model.BrandCountRand%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end col-->

                        <div class="col-md-6 col-xl-3">
                            <div class="card bg-info border-info">
                                <div class="card-body">
                                    <div class="mb-4">
                        <span class="badge badge-soft-light float-right">Kiralama Noktaları</span>
                        <h5 class="card-title mb-0 text-white">Toplam Lokasyon Sayısı</h5>
                                    </div>
                                    <div class="row d-flex align-items-center mb-4">
                                        <div class="col-8">
                                            <h2 class="d-flex align-items-center text-white mb-0">
                                                @Model.LocationCount
                                            </h2>
                                        </div>
                                        <div class="col-4 text-right">
                                            <span class="text-white-50">@Model.LocationRand% <i class="mdi mdi-arrow-down"></i></span>
                                        </div>
                                    </div>

                                    <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                                        <div class="progress-bar bg-light" role="progressbar" style="width: @Model.LocationRand%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end col-->
                    </div>
    <!-- end page title1 -->
    <!-- start page title2 -->
    <div class="row">
        <div class="col-md-6 col-xl-3">
            <div class="card bg-primary border-primary">
                <div class="card-body">
                    <div class="mb-4">
                        <span class="badge badge-soft-light float-right">Elektrikli Araçlar</span>
                        <h5 class="card-title mb-0 text-white">Elektrikli Araçlar</h5>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center mb-0 text-white">
                                @Model.CarCountByElectric
                            </h2>
                        </div>
                        <div class="col-4 text-right">
                            <span class="text-white-50">@Model.CarCountByElectricRand% <i class="mdi mdi-arrow-up"></i></span>
                        </div>
                    </div>

                    <div class="progress badge-soft-light shadow-sm" style="height: 5px;">
                        <div class="progress-bar bg-light" role="progressbar" style="width: @Model.CarCountByElectricRand%;"></div>
                    </div>
                </div>
            </div>
        </div> <!-- end col-->

        <div class="col-md-6 col-xl-3">
            <div class="card bg-success border-success">
                <div class="card-body">
                    <div class="mb-4">
                        <span class="badge badge-soft-light float-right">Fosil Yakıtlı Araçlar</span>
                        <h5 class="card-title mb-0 text-white">Dizel &  Benzinli Araçlar</h5>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center text-white mb-0">
                                @Model.CarCountByGasolineOrDiesel
                            </h2>
                        </div>
                        <div class="col-4 text-right">
                            <span class="text-white-50">@Model.CarCountByGasolineOrDieselRand% <i class="mdi mdi-arrow-down"></i></span>
                        </div>
                    </div>

                    <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                        <div class="progress-bar bg-light" role="progressbar" style="width: @Model.CarCountByGasolineOrDieselRand%;"></div>
                    </div>
                </div>
            </div>
        </div> <!-- end col-->

        <div class="col-md-6 col-xl-3">
            <div class="card bg-warning border-warning">
                <div class="card-body">
                    <div class="mb-4">
                        <span class="badge badge-soft-light float-right">1000 KM'den Düşükler</span>
                        <h5 class="card-title mb-0 text-white">En Yeni Araçlar</h5>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center text-white mb-0">
                                @Model.CarCountByKmLessThan1000
                            </h2>
                        </div>
                        <div class="col-4 text-right">
                            <span class="text-white-50">@Model.CarCountByKmLessThan1000Rand% <i class="mdi mdi-arrow-up"></i></span>
                        </div>
                    </div>

                    <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                        <div class="progress-bar bg-light" role="progressbar" style="width: @Model.CarCountByKmLessThan1000Rand%;"></div>
                    </div>
                </div>
            </div>
        </div> <!-- end col-->

        <div class="col-md-6 col-xl-3">
            <div class="card bg-info border-info">
                <div class="card-body">
                    <div class="mb-4">
                        <span class="badge badge-soft-light float-right">Blog Yazarları</span>
                        <h5 class="card-title mb-0 text-white">Toplam Yazarlar</h5>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center text-white mb-0">
                                @Model.AuthorCount
                            </h2>
                        </div>
                        <div class="col-4 text-right">
                            <span class="text-white-50">@Model.AuthorCountRand% <i class="mdi mdi-arrow-down"></i></span>
                        </div>
                    </div>

                    <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                        <div class="progress-bar bg-light" role="progressbar" style="width: @Model.AuthorCountRand%;"></div>
                    </div>
                </div>
            </div>
        </div> <!-- end col-->
    </div>
    <!-- end page title2 -->
    <!-- start page title3 -->
    <div class="row">
        <div class="col-md-6 col-xl-3">
            <div class="card bg-primary border-primary">
                <div class="card-body">
                    <div class="mb-4">
                        <span class="badge badge-soft-light float-right">Otomatik Araçlar</span>
                        <h5 class="card-title mb-0 text-white">Otomatik Araçlar</h5>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center mb-0 text-white">
                                @Model.CarCountByTransmissionIsAuto
                            </h2>
                        </div>
                        <div class="col-4 text-right">
                            <span class="text-white-50">@Model.CarCountByTransmissionIsAutoRand% <i class="mdi mdi-arrow-up"></i></span>
                        </div>
                    </div>

                    <div class="progress badge-soft-light shadow-sm" style="height: 5px;">
                        <div class="progress-bar bg-light" role="progressbar" style="width: @Model.CarCountByTransmissionIsAutoRand%;"></div>
                    </div>
                </div>
            </div>
        </div> <!-- end col-->

        <div class="col-md-6 col-xl-3">
            <div class="card bg-success border-success">
                <div class="card-body">
                    <div class="mb-4">
                        <span class="badge badge-soft-light float-right">Günlük Kiralama</span>
                        <h5 class="card-title mb-0 text-white">Ortalama Bedel</h5>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center text-white mb-0">
                                @Model.DailyAveragePrice
                            </h2>
                        </div>
                        <div class="col-4 text-right">
                            <span class="text-white-50">@Model.DailyAveragePriceRand% <i class="mdi mdi-arrow-down"></i></span>
                        </div>
                    </div>

                    <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                        <div class="progress-bar bg-light" role="progressbar" style="width: @Model.DailyAveragePriceRand%;"></div>
                    </div>
                </div>
            </div>
        </div> <!-- end col-->

        <div class="col-md-6 col-xl-3">
            <div class="card bg-warning border-warning">
                <div class="card-body">
                    <div class="mb-4">
                        <span class="badge badge-soft-light float-right">Haftalık Kiralama</span>
                        <h5 class="card-title mb-0 text-white">Ortalama Bedel</h5>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <div class="col-8">
                            <h6 class="d-flex align-items-center text-white mb-0">
                                @Model.WeeklyAveragePrice
                            </h6>
                        </div>
                        <div class="col-4 text-right">
                            <span class="text-white-50">@Model.WeeklyAveragePriceRand% <i class="mdi mdi-arrow-up"></i></span>
                        </div>
                    </div>

                    <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                        <div class="progress-bar bg-light" role="progressbar" style="width: @Model.WeeklyAveragePriceRand%;"></div>
                    </div>
                </div>
            </div>
        </div> <!-- end col-->

        <div class="col-md-6 col-xl-3">
            <div class="card bg-info border-info">
                <div class="card-body">
                    <div class="mb-4">
                        <span class="badge badge-soft-light float-right">Aylık Kiralama</span>
                        <h5 class="card-title mb-0 text-white">Ortalama Bedel</h5>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center text-white mb-0">
                                @Model.MonthlyAveragePrice
                            </h2>
                        </div>
                        <div class="col-4 text-right">
                            <span class="text-white-50">@Model.MonthlyAveragePriceRand% <i class="mdi mdi-arrow-down"></i></span>
                        </div>
                    </div>

                    <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                        <div class="progress-bar bg-light" role="progressbar" style="width: @Model.MonthlyAveragePriceRand%;"></div>
                    </div>
                </div>
            </div>
        </div> <!-- end col-->
    </div>
    <!-- end page title3 -->
    <!-- start page title4 -->
    <div class="row">
        <div class="col-md-6 col-xl-3">
            <div class="card bg-primary border-primary">
                <div class="card-body">
                    <div class="mb-4">
                        <span class="badge badge-soft-light float-right">Günlük</span>
                        <h5 class="card-title mb-0 text-white">En Pahalı Araç</h5>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <div class="col-8">
                            <h6 class="d-flex align-items-center mb-0 text-white">
                                @Model.BrandAndModelDailyPriceIsMax
                            </h6>
                        </div>
                        <div class="col-4 text-right">
                            <span class="text-white-50">@Model.BrandAndModelDailyPriceIsMaxRand% <i class="mdi mdi-arrow-up"></i></span>
                        </div>
                    </div>

                    <div class="progress badge-soft-light shadow-sm" style="height: 5px;">
                        <div class="progress-bar bg-light" role="progressbar" style="width: @Model.BrandAndModelDailyPriceIsMaxRand%;"></div>
                    </div>
                </div>
            </div>
        </div> <!-- end col-->

        <div class="col-md-6 col-xl-3">
            <div class="card bg-success border-success">
                <div class="card-body">
                    <div class="mb-4">
                        <span class="badge badge-soft-light float-right">Günlük</span>
                        <h5 class="card-title mb-0 text-white">En Ucuz Araç</h5>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <div class="col-8">
                            <h6 class="d-flex align-items-center text-white mb-0">
                                @Model.BrandAndModelDailyPriceIsMin
                            </h6>
                        </div>
                        <div class="col-4 text-right">
                            <span class="text-white-50">@Model.BrandAndModelDailyPriceIsMinRand% <i class="mdi mdi-arrow-down"></i></span>
                        </div>
                    </div>

                    <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                        <div class="progress-bar bg-light" role="progressbar" style="width: @Model.BrandAndModelDailyPriceIsMinRand%;"></div>
                    </div>
                </div>
            </div>
        </div> <!-- end col-->

        <div class="col-md-6 col-xl-3">
            <div class="card bg-warning border-warning">
                <div class="card-body">
                    <div class="mb-4">
                        <span class="badge badge-soft-light float-right">En Çok Yorum Alan Blog</span>
                        <h5 class="card-title mb-0 text-white">En Populer Blog</h5>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <div class="col-8">
                            <h6 class="d-flex align-items-center text-white mb-0">
                                @Model.MostCommentBlog
                            </h6>
                        </div>
                        <div class="col-4 text-right">
                            <span class="text-white-50">@Model.MostCommentBlogRand% <i class="mdi mdi-arrow-up"></i></span>
                        </div>
                    </div>

                    <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                        <div class="progress-bar bg-light" role="progressbar" style="width: @Model.MostCommentBlogRand%;"></div>
                    </div>
                </div>
            </div>
        </div> <!-- end col-->

        <div class="col-md-6 col-xl-3">
            <div class="card bg-info border-info">
                <div class="card-body">
                    <div class="mb-4">
                        <span class="badge badge-soft-light float-right">En Fazla Araç</span>
                        <h5 class="card-title mb-0 text-white">En Populer Marka</h5>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <div class="col-8">
                            <h6 class="d-flex align-items-center text-white mb-0">
                                @Model.MostCountBrand
                            </h6>
                        </div>
                        <div class="col-4 text-right">
                            <span class="text-white-50">@Model.MostCountBrandRand% <i class="mdi mdi-arrow-down"></i></span>
                        </div>
                    </div>

                    <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                        <div class="progress-bar bg-light" role="progressbar" style="width: @Model.MostCountBrandRand%;"></div>
                    </div>
                </div>
            </div>
        </div> <!-- end col-->
    </div>
    <!-- end page title4 -->
</div>
